## Random Sampling Error Mitigation Example

In [ ]:
!pip install -e ../../../responsible-ai-mitigations

In [11]:
import numpy as np
import pandas as pd
from raimitigations.dataprocessing import RandomSample

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [12]:
data_dir = '../../datasets/hr_promotion'
dataset =  pd.read_csv(data_dir + '/train.csv').drop(['employee_id'], axis=1)
dataset.head()
dataset.shape

,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

(54808, 13)

In [13]:
# # Parameters

#         dataset - Panda Data Frame. 
#         target - The target column name or index (zero base)
#         RandomSample_size â€“ The data RandomSample  size
#         categorical_features 
#         drop_null
#         drop_duplicates
#         stratify - array-like, default=None.  If not None, data is split in a stratified fashion, using this as the class labels.
    
# data_RandomSample =  RandomSample(dataset, 'is_promoted', 0.2, True)

target_index = dataset.columns.get_loc('is_promoted')
data_sample =  RandomSample(dataset, target_index, 0.2, False, False, False, True)

random_sample = data_sample.random_sample()
random_sample.shape
random_sample.head()

(10961, 13)

,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
45050,Sales & Marketing,region_26,Bachelor's,m,other,1,49,3.0,13,0,0,47,0
10667,Technology,region_15,Bachelor's,m,other,1,26,5.0,3,0,1,80,1
13856,Technology,region_2,Master's & above,m,other,1,49,3.0,20,1,0,80,0
43880,Finance,region_15,Bachelor's,f,other,1,30,3.0,1,0,0,62,0
6298,Sales & Marketing,region_16,Bachelor's,f,other,1,32,3.0,3,0,0,50,0

In [15]:
# stratify ON
print('Stratify ON')

data_sample =  RandomSample(dataset,target_index, 0.2, False, False, False, True)
random_sample = data_sample.random_sample()

df_random = pd.DataFrame(random_sample)
print('Random data RandomSample % of target (1 over 0): ' + str(df_random.is_promoted.value_counts()[1] /
df_random.is_promoted.value_counts()[0]))

df = pd.DataFrame(dataset)
print('Test dataset % of target (1 over 0): ' + str(df.is_promoted.value_counts()[1] /
df.is_promoted.value_counts()[0]))

Stratify ON
Random data RandomSample % of target (1 over 0): 0.09314849905255809
Test dataset % of target (1 over 0): 0.09309932189868368

In [17]:
# stratify OFF
print('Stratify OFF')

data_sample =  RandomSample(dataset, target_index, 0.2, False, False, False, False)
random_sample = data_sample.random_sample()

df_random = pd.DataFrame(random_sample)
print('Random data RandomSample % of target (1 over 0): ' + str(df_random.is_promoted.value_counts()[1] /
df_random.is_promoted.value_counts()[0]))

df = pd.DataFrame(dataset)
print('Test dataset % of target (1 over 0): ' + str(df.is_promoted.value_counts()[1] /
df.is_promoted.value_counts()[0]))

Stratify OFF
Random data RandomSample % of target (1 over 0): 0.092603668261563
Test dataset % of target (1 over 0): 0.09309932189868368