In [3]:
import sys
sys.path.append('../../../ResponsibleAIToolBox-Mitigation/')
import numpy as np
import pandas as pd
from errorsmitigation.dataprocessing import DataSample

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [4]:
data_dir = '../../datasets/hr_promotion'
dataset =  pd.read_csv(data_dir + '/train.csv').drop(['employee_id'], axis=1)
dataset.head()
dataset.shape

,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

(54808, 13)

In [5]:
# # Parameters

#         dataset - Panda Data Frame. 
#         target - The target column name or index (zero base)
#         sample_size â€“ The data sample  size
#         categorical_features 
#         drop_null
#         drop_duplicates
#         stratify - array-like, default=None.  If not None, data is split in a stratified fashion, using this as the class labels.
    
# data_sample =  DataSample(dataset, 'is_promoted', 0.2, True)

target_index = dataset.columns.get_loc('is_promoted')
data_sample =  DataSample(dataset, target_index, 0.2, False, False, False, True)

random_sample = data_sample.RandomSample()
random_sample.shape
random_sample.head()

(10961, 13)

,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
20460,Analytics,region_22,Bachelor's,m,sourcing,1,32,4.000000,4,0,0,82,0
21523,Technology,region_2,Below Secondary,f,other,1,21,3.329256,1,0,0,77,0
44615,Technology,region_22,Master's & above,m,other,2,31,1.000000,6,0,0,75,0
28505,Technology,region_31,Bachelor's,m,other,2,28,5.000000,4,1,0,82,0
37157,Technology,region_2,Bachelor's,f,other,1,58,3.000000,4,1,0,82,1

In [6]:
# stratify ON
print('Stratify ON')

data_sample =  DataSample(dataset,target_index, 0.2, False, False, False, True)
random_sample = data_sample.RandomSample()

df_random = pd.DataFrame(random_sample)
print('Random data sample % of target (1 over 0): ' + str(df_random.is_promoted.value_counts()[1] /
df_random.is_promoted.value_counts()[0]))

df = pd.DataFrame(dataset)
print('Test dataset % of target (1 over 0): ' + str(df.is_promoted.value_counts()[1] /
df.is_promoted.value_counts()[0]))

Stratify ON
Random data sample % of target (1 over 0): 0.09314849905255809
Test dataset % of target (1 over 0): 0.09309932189868368

In [7]:
# stratify OFF
print('Stratify OFF')

data_sample =  DataSample(dataset, target_index, 0.2, False, False, False, False)
random_sample = data_sample.RandomSample()

df_random = pd.DataFrame(random_sample)
print('Random data sample % of target (1 over 0): ' + str(df_random.is_promoted.value_counts()[1] /
df_random.is_promoted.value_counts()[0]))

df = pd.DataFrame(dataset)
print('Test dataset % of target (1 over 0): ' + str(df.is_promoted.value_counts()[1] /
df.is_promoted.value_counts()[0]))

Stratify OFF
Random data sample % of target (1 over 0): 0.0971971971971972
Test dataset % of target (1 over 0): 0.09309932189868368